[{"name":"SERIES_NAME","columns":["disksize","diskused","diskfree","diskpct","memsize","memused","memfree","swapsize","swapused","swapfree","cpuusage","rxbytes","txbytes"],"points":[[DISK_SIZE,DISK_USED,DISK_FREE,DISK_PERCENTAGE,MEM_SIZE,MEM_USED,MEM_FREE,SWAP_SIZE,SWAP_USED,SWAP_FREE,CPU_USAGE,RX_BYTES,TX_BYTES]]}]
